
{% extends 'myapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    {% if user.is_authenticated %}

        <body>

            <div class="container bg-light shadow-md p-3 form-layout">

                <h3 class="my-layout">Create a new record</h3>

                <hr>

                <h6>Please fill in the required details.</h6>

                <hr class="hr-hide">

                <form action="" autocomplete="off" method="POST">

                    {% csrf_token %}

                    {{form.first_name|as_crispy_field}}

                    <br>

                    {{form.last_name|as_crispy_field}}

                    <br>

                    {{form.email|as_crispy_field}}

                    <br>

                    {{form.phone|as_crispy_field}}

                    <br>

                    {{form.address|as_crispy_field}}

                    <br>

                    {{form.city|as_crispy_field}}

                    <br>

                    {{form.province|as_crispy_field}}

                    <br>
                    
                    {{form.country|as_crispy_field}}

                    <br><br>

                    <button type="submit" class="btn btn-primary w-100 btn-block p-2">
                        
                        Create new record &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
                    
                    </button>

                </form>

                <br>

                <a href="{% url 'dashboard' %}" class="btn btn-primary w-100 btn-block p-2">

                    Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>

                </a>

                <br><br>

            </div>

        </body>

    {% endif %}

{% endblock %} 